@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SpeakerFreak.Models.Subscriber>

<div class="container">
<br />
    <h3>Opps!! Something went wrong; please try to fill out information again</h3>

    @Html.ActionLink("Register/Log In", "Index", "Account")
</div>